html{
    background-image: url("../images/background.png");
}

.column {
    float: left;
    width: 33.33%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    height: 100px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    width: 100%;
}

a.nav-button:hover{
    color: #0AD149;
}

.submit-button{
    background-color: #4aaaa5;
    border: none;
    width: 20%;
    height: 25px;
}

.portfolio-image{
    height: 100%;
    width: 100%;
}

.tag {
    float: left;
    position: absolute;
    left: 0px;
    top: 70px;
    z-index: 1000;
    background-color: #4aaaa5;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    width: 93%;
}



body, a{
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

#foto-perfil{
    float: left;
    height: 100px;
    width: 75px;
}

.personal-content{
    padding: 10px;
}

.clearfix{
    display: flow-root;
}

body{
    margin: 0px;
}

.navbar{
    height: 50px;
    border-bottom: solid;
    border-color:#cccccc;
    border-width: 1px;
}

nav, .info{
    background-color: #ffffff ;
}

.info, .nav-content{
    width: 960px;
    margin: auto;
}

.nav-content{
    height: 100%;
    overflow: hidden;
}

h3, ul{
    display: inline;
}

.info{
    margin-top: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #666666;
    height: 30px;
    width: 100%;
    text-align: center;
    border-top: solid;
    border-color: #4aaaa5;
    border-width: 8px;
    color: #ffffff;
    font-size: 10px;
}

input, textarea{
    width: 100%;
}

.name{
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    height: 50px;
    line-height: 50px;
}

nav{
    width: 100%;
}

.section-name{
    color: #4aaaa5;
}

.nav-items{
    float: right;
}

.nav-button{
    padding-left: 10px;
    padding-right: 10px;
}